<!DOCTYPE html>
<html>
  <head>
    <title>ECL Experiment 4</title> 
	<script src="jspsych/jspsych.js"></script>
	<script src="jspsych/plugin-html-keyboard-response.js"></script>
	<script src="jspsych/plugin-html-button-response.js"></script>
	<script src="jspsych/plugin-image-button-response.js"></script>
	<script src="jspsych/plugin-survey-text.js"></script>
	<script src="jspsych/plugin-survey-multi-select.js"></script>
	<script src="jspsych/plugin-survey-multi-choice.js"></script>
	<script src="jspsych/plugin-categorize-html.js"></script>
	<script src="jspsych/plugin-preload.js"></script>
	
	<script src="data.js"></script>
	<script src="engine_history.js"></script>

	<link href="jspsych/jspsych.css" rel="stylesheet" type="text/css" />
	<link href="jspsych/survey.css" rel="stylesheet" type="text/css" />
	<link href="src/Experiment_Style.css" rel="stylesheet" type="text/css" />
</head>
  </head>
  <body></body>
</html>